[Desktop Entry]
Encoding=UTF-8
GenericName=Interactive Alignment Correction
GenericName[de]=Interaktive Ausrichtungskorrektur
Name=Nudge #FSLMVERSION#
Exec=Nudge-#FSLMVERSION#
TryExec=Nudge-#FSLMVERSION#
Icon=fsl-#FSLMVERSION#.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Education;Science;MedicalSoftware;
