[Desktop Entry]
Encoding=UTF-8
GenericName=Concatenating FLIRT Transformations
GenericName[de]=Verketten von FLIRT Transformationen
Name=ConcatXFM
Exec=ConcatXFM
TryExec=ConcatXFM
Icon=fsl.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Education;Science;MedicalSoftware;
