[Desktop Entry]
Encoding=UTF-8
GenericName=Brain Segmentation Tool
GenericName[de]=Hirn-Segmentierungswerkzeug
Name=FAST
Exec=Fast
TryExec=Fast
Icon=fsl.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Science;MedicalSoftware;
