[Desktop Entry]
Encoding=UTF-8
GenericName=Diffusion Imaging Toolbox
GenericName[de]=Werkzeugkasten für Diffusionsgewichtete MR-Bilder
Name=FDT
Exec=Fdt
TryExec=Fdt
Icon=fsl.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Science;MedicalSoftware;
