[Desktop Entry]
Encoding=UTF-8
GenericName=fMRI Analysis Tool
GenericName[de]=fMRT Analyse-Werkzeug
Name=FEAT
Exec=Feat
TryExec=Feat
Icon=fsl.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Education;Science;MedicalSoftware;
