[Desktop Entry]
Encoding=UTF-8
GenericName=Setup Design Matrices and Contrasts for FSL
GenericName[de]=Designmatrizen und Kontraste für FSL erstellen
Name=GLM
Exec=Glm
TryExec=Glm
Icon=fsl.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Education;Science;MedicalSoftware;
