[Desktop Entry]
Encoding=UTF-8
GenericName=Invert FLIRT Transformations
GenericName[de]=Invertieren von FLIRT Transformationen
Name=InvertXFM
Exec=InvertXFM
TryExec=InvertXFM
Icon=fsl.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Science;MedicalSoftware;
