[Desktop Entry]
Encoding=UTF-8
GenericName=Generation of optimal HRF basis functions
GenericName[de]=Generierung optimaler HRF Basisfunktionen
Name=FLOBS
Exec=Make_flobs
TryExec=Make_flobs
Icon=fsl.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Education;Science;MedicalSoftware;
