[Desktop Entry]
Encoding=UTF-8
GenericName=ICA-based Analysis of 4D Data
GenericName[de]=Analyse von 4D-Daten mittels ICA
Name=MELODIC
Exec=Melodic
TryExec=Melodic
Icon=fsl.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Education;Science;MedicalSoftware;
