[Desktop Entry]
Encoding=UTF-8
GenericName=fMRI-Sequence Simulator
GenericName[de]=Simulator für fMRI-Sequenzen
Name=POSSUM
Exec=Possum
TryExec=Possum
Icon=fsl.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Utility;Science;MedicalSoftware;
