[Desktop Entry]
Encoding=UTF-8
GenericName=Upsample FEAT Results for high-resolution Overlays
GenericName[de]=Hochskalieren von FEAT-Ergebnissen für Overlays
Name=Renderhighres
Exec=Renderhighres
TryExec=Renderhighres
Icon=fsl.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Science;MedicalSoftware;
