[Desktop Entry]
Encoding=UTF-8
GenericName=Nonlinear Noise Reduction
GenericName[de]=Nicht-lineare Rauschreduzierung
Name=SUSAN
Exec=Susan
TryExec=Susan
Icon=fsl.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Utility;Science;MedicalSoftware;
