[Desktop Entry]
Encoding=UTF-8
GenericName=Interactive Alignment Correction
GenericName[de]=Interaktive Ausrichtungskorrektur
Name=Nudge 4.1
Exec=Nudge-4.1
TryExec=Nudge-4.1
Icon=fsl-4.1.xpm
Type=Application
Terminal=false
Comment=This program is part of FSL
Comment[de]=Dieses Programm gehört zu FSL
Categories=Education;Science;MedicalSoftware;
